@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.App-header {
  height: 20%;
  width: 100%;
  text-align: center;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-decoration: none;
  color: black;
}

.active-menu {
  color: white;
}

.user {
  background-color: white;
}

.username {
  font-size: 24px;
  font-weight: 700;
}

.user-form {
  margin: 20px 200px;
}

a {
  text-decoration: none !important;
  color: black;
}